$maim-color: #2C3455;

.cover-message-text-color {
    color: var(--main-color);
}

.cover-hover-transition {
    transition: color .3s ease-in-out;

    &:hover {
        color: darken(#2C3455, 5%);
    }

    &-white {
        transition: color .3s ease-in-out;

        &:hover {
            background-color: lighten(#2C3455, 10%);
        }
    }
}